.main-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-card-item{
  margin-bottom: 40px;
}

.main-card-container:last-child{
  margin: 32px 0 0 32px;
}

@media (max-width: 885px){
  .main-cards{
    flex-direction: column;
  }
  .main-card-container:last-child{
    margin: 0;
  }
}