.sponsor-items{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  max-width: 960px;
}

.sponsor-img-wrapper{
  padding: 30px;
}

.sponsor-items img{
  width: 100%;
}

@media (max-width: 1120px){
  .sponsor-items{
    max-width: 752px;
  }
  .sponsor-img-wrapper{
    padding: 20px;
  }
}

@media (max-width: 885px){
  .sponsor-items{
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
  }  
}

@media (max-width: 400px){
  .sponsor-img-wrapper{
    padding: 10px;
  }
}