*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #020B10;
}

.navbar-container,
.hero-container,
.main-container{
  width: 85vw;
  max-width: 1300px;
}

.hero-title,
.main-title,
.sponsor-title{  
  font-family: 'Butler', serif;
  font-display: swap;
}